# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Testing and cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
